.title {
    width: 186px;
    height: 32px;
    /* margin-top: 50px; */
    display: flex;
    align-items: center;
  }
  
  .title h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 130%;
    margin: 0 auto;
  }
  

  @media only screen and (min-width: 1181px) {
    .title h3 {
      margin: 0;
      font-size: 25px;
    }
  }