.header {
  height: 52px;
  padding-right: 24px;
  padding-left: 24px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--mainColor);
  border-radius: 0px 0px 10px 10px;
}
.logo {
  width: 57px;
}
.logo:hover {
  position: relative;
  cursor: pointer;
}
.navBar {
  width: 128px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.appBar {
  width: 92px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media only screen and (min-width: 1440px) {
  .header {
    height: 120px;
    padding-right: 151px;
    padding-left: 151px;
    border-radius: 0px 0px 30px 30px;
  }
  .logo{
    width: 109px;
  }
  .navBar {
    width: 850px;
  }
  .appBar {
    width: 220px;
  }
}
