.button {
  width: 128px;
  height: 138px;
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-radius: 16px;
  border: none;
  background: var(--mainColor);
}
.button:hover {
  cursor: pointer;
}
.icon {
  width: 40px;
  height: 40px;
  color: var(--secondColor);
}
.popup {
  width: 100%
}
.text {
  padding-top: 9px;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 130%;
  border-top: 1px solid;
  color: var(--secondColor);
}

@media only screen and (min-width: 320px) {
  .button {
    width: 177px;
    height: 187px;
    border-radius: 20px;
  }
  .popup {
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    border-radius: 18px;
    background-color: var(--secondColor);
  }
  .button:hover .popup {
    height: 120px;
    visibility: visible;
    -webkit-animation: smart-animate 0.8s;
    animation: smart-animate 0.8s
  }
  @keyframes smart-animate {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
  .button:hover .icon {
    visibility: hidden;
  }
  .text {
    font-size: 20px;
    border: none;
    color: var(--textColor);
  }
}
