.wrapper {
  min-width: 320px;
  max-width: 100%;
  background-color: var(--mainColor);
  padding: 18px 0px 20px 0px;
  display: grid;
  grid-auto-rows: auto;
  justify-content: center;
  grid-template-columns: minmax(320px, 1440px);
}

.content {
  width: auto;
  display: grid;
  grid-auto-rows: auto;
  gap: 20px;
  margin-left: 20px;
}

.logoAndTime {
  grid-area: 3;
}

.logoAndTime img {
  display: none;
  margin-bottom: 22.54px;
}

.logoAndTime p {
  color: var(--secondColor);
  font-size: 15px;
  font-weight: 300;
  line-height: 130%;
}
.info {
  margin-bottom: 10px;
}
.info ul {
  display: grid;
  gap: 1rem;
  color: var(--secondColor);
  font-size: 15px;
  font-weight: 500;
  line-height: 130%;
  padding: 0;
}

.info li {
  color: var(--secondColor);
  font-size: 15px;
  font-weight: 300;
  line-height: 130%;
  list-style-type: none;
}

.info a {
  text-decoration: none;
  color: var(--secondColor);
}

.deliveryAndPayment ul {
  display: grid;
  gap: 1rem;
  color: var(--secondColor);
  font-size: 15px;
  font-weight: 500;
  line-height: 130%;
  padding: 0;
}

.deliveryAndPayment li {
  color: var(--secondColor);
  font-size: 15px;
  font-weight: 300;
  line-height: 130%;
  list-style-type: none;
}

.deliveryAndPayment a {
  text-decoration: none;
  color: var(--secondColor);
}

.license {
  color: var(--secondColor);
  margin: 20px 0 0 20px;
}

.license p {
  font-size: 10px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media only screen and (min-width: 614px) {
  .content {
    grid-template-columns: auto auto;
  }

  .logoAndTime {
    grid-area: 2;
  }
}

@media only screen and (min-width: 1200px) {
  .wrapper {
    padding: 40px 0 20px 151px;
  }
  .content {
    grid-template-columns: 190px auto auto;
    grid-template-areas: "logoAndTime info deliveryAndPayment";
    gap: 0px;
    justify-content: start;
    margin-left: 0;
  }

  .logoAndTime {
    grid-area: logoAndTime;
  }

  .info {
    grid-area: info;
    margin-left: 100px;
    margin-bottom: 0;
  }

  .deliveryAndPayment {
    grid-area: deliveryAndPayment;
    margin-left: 76px;
  }

  .logoAndTime img {
    display: block;
  }

  .logoAndTime p {
    font-size: 20px;
  }

  .info ul {
    gap: 12px;
    font-size: 20px;
  }

  .info li {
    font-size: 20px;
  }

  .deliveryAndPayment ul {
    gap: 12px;
    font-size: 20px;
  }

  .deliveryAndPayment li {
    font-size: 20px;
  }

  .license {
    margin: 55px 0 0 0;
  }
  .license p {
    font-size: 15px;
  }
}
