.container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.form {
  width: 175px;
  height: 22px;
  margin-right: 32px;
  display: flex;
  align-items: center;
  background-color: var(--secondColor);
  border-radius: 10px;
  box-shadow: 0px 3px 10px 0px rgba(107, 76, 125, 0.25) inset;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (min-width: 1280px) {
  .form {
    width: 570px;
    height: 56px;
    margin-right: 39px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px rgba(119, 52, 165, 0.25) inset
  }
}
