:root {
    --mainColor: #6B4C7D;
    --secondColor: #FFE9FF;
    --textColor: #000000;
    --priceTextColor: #FF0000;
    --buttonHoverColor: #B18CC6;
    --buttonClickColor: #482B58;
}
*{
  margin: 0;
  box-sizing: border-box;
}
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}
.App {
  background-color: var(--secondColor);
}
p {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  text-transform: none;
}
@media only screen and (min-width: 1440px) {
  p {
    font-size: 20px;
  }
}
