:root {
  --mainColor: #6b4c7d;
  --secondColor: #ffe9ff;
  --textColor: #000000;
  --priceTextColor: #ff0000;
  --buttonHoverColor: #b18cc6;
  --buttonClickColor: #482b58;
  --buttonDisabled: #6b4c7d80;
}

.App {
  background-color: var(--secondColor);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
