:root {
    --mainColor: #6B4C7D;
    --secondColor: #FFE9FF;
    --textColor: #000000;
    --priceTextColor: #FF0000;
    --buttonHoverColor: #B18CC6;
    --buttonClickColor: #482B58;
}

.App {
  background-color: var(--secondColor);
}
