.container {
  margin-top: 20px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.circleButton {
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: var(--mainColor);
  border-radius: 50%;
}
.circleButton:hover {
  background-color: var(--buttonHoverColor);
}

.circle {
  width: 8px;
  height: 8px;
  background-color: var(--secondColor);
  border: 1px solid var(--mainColor) ;
  border-radius: 50%;
}
.circleActive {
  width: 11px;
  height: 11px;
  background-color: var(--mainColor);
  border-radius: 50%;
}
